div {
    border-style: solid;
    padding: 30px;
    border-color: black;
}
/*This puts a "black" border on my columns while making it 10 pixels wide with 30 pixels of padding.*/
.container {
    border-color: black;
}
/*This makes my container border black*/
.row {
    border-color: black;
}
/*This makes my row border black*/
.list-group-item {
    border: 0;
    padding-top: 30px;
    padding-bottom: 30px;
}
/*This makes my llinks 30 pixels away from eachother in padding top and bottom*/
.uppercase {
    text-transform: uppercase;
    font-size: 38px;
}
/*Changes the font to a larger form of 38 pixels*/
.current-link {
    text-decoration: none;
    font-size: 20px;
}
/*Changes the font to a larger form of 20 pixels as long as it's a link*/
.jumbotron {
    background-image: url();
    background-size: contain;
}
/*Gives the bootstrap feature "jumbotron" a containing background image of SPAAAAAAACE!!!!*/
body{
    background-image: url();
    color: grey;
    background-size: contain;
}
/*Gives the body a background of Kessler from Infamous and a text color called "whitesmoke"*/


/* entire container, keeps perspective */
.flip-container {
    perspective: 1000;
}
/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flip-container, .front, .back {
    width: 320px;
    height: 480px;
}

/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
}

div.ui-resizable-handle{
    border: none;
}